<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Stylesheets references -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/highlight_styles/androidstudio.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="icon" href="../assets/images/icons/netbeans.png">

    <title>Programación Estructurada</title>
</head>

<body id="id_body">

    <!-- Eductional basic information -->
    <p class="subject">
        Universidad Centroamericana "José Simeón Cañas".<br>
        Programación orientada a objetos.<br>
        Ciclo 01/19.
    </p>

    <!-- Front image -->
    <header id="front-img" style="background-image: url('../assets/images/template/cover.png');">
        <div class="blackManta">
            <!-- Float menu implementation -->
            <div class="float-menu">
                <div class="menu-content">
                    <i class="fas fa-bars"></i>
                </div>
                <nav class="menu-side">
                    <div></div>
                    <ul>
                        <li><a href="#introduction">Introdución</a><i class="fas fa-ellipsis-v"></i></li>
                        <li><a href="#conditions">Sentencias condicionales</a><i class="fas fa-question"></i></li>
                        <li><a href="#bucles">Sentencias iterativas</a><i class="fas fa-retweet"></i></li>
                        <li><a href="#lists">Estructuras de datos básicas</a><i class="fas fa-stream"></i></li>
                        <li><a href="#functions">Funciones</a><i class="fas fa-code"></i></li>
                        <li><a href="#exercices">Ejecicios</a><i class="fas fa-dumbbell"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="main-front">
                <h1>Programación Estructurada.</h1>
                <h3>Lunes, 18 de Marzo de 2019.</h3>
                <div class="grid-div two-columns frontList">
                    <!-- Two-columns item -->
                    <div class="article-body">
                        <h4>Temario:</h4>
                        <ul>
                            <li>
                                Introdución
                            </li>
                            <li>
                                Sentencias condicionales
                            </li>
                            <li>
                                Sentencias iterativas
                            </li>
                            <li>
                                Estructuras de datos básicas
                            </li>
                            <li>
                                Funciones
                            </li>
                            <li>
                                Ejecicios
                            </li>
                        </ul>
                    </div>
                    <div class="article-body">

                    </div>
                </div>
                <i class="fas fa-chevron-down" id="down-button"></i>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <article class="content">
        <!-- Main title -->
        <header class="title-content" id="title-content">
            <div id="brand">
                <h1>Programación Estructurada</h1>
            </div>
        </header>

        <!-- Sections method -->
        <section id="introduction">
            <!-- Sections Titles -->
            <h2>
                Introdución.
            </h2>
            <!-- Single paragraphs -->
            <p>
                El siguiente documento tiene como objetivo principal retroalimentar las sentencias y estructuras
                básicas, es importante saber el funcionamiento de cada una de ellas, ya que, en la programación
                orientada a objetos, estas sentencias siguen utilizándose en gran medida.
            </p>
        </section>
        <section id='conditions'>
            <h2>
                Sentencias condicionales
            </h2>
            <p>
                Se definen como instrucciones o grupo de instrucciones que se pueden ejecutar o no en función a un valor
                de condición.
            </p>
            <article>
                <h3>
                    Sentencia IF
                </h3>
                <p>
                    Ejecuta un bloque de instrucciones si la condición es verdadera, además pueden omitirse las llaves
                    de apertura y de cierre si solo se va a ejecutar una instrucción.
                </p>
                <pre>
                    <code class='java'>
                        if (condición)
                            // si solo se ejecutara una instrucción se pueden omitir las llaves { }

                        if (condición) {
                            // bloque de código a ejecutarse si la condición es verdadera
                        }
                    </code>
                </pre>
                <h4>
                    Ejemplo
                </h4>
                <pre>
                    <code class='java'>
                        if (50 > 28)
                            System.out.println("50 es mayor que 28");
                    </code>
                </pre>
            </article>
            <article>
                <h3>
                    Sentencia IF-ELSE
                </h3>
                <p>
                    Ejecuta un bloque de instrucciones si la condición es falsa, sin embargo esta palabra reservada else
                    es opcional, ya que es necesaria solo si se necesita ejecutar un conjunto de instrucciones si la
                    condición es falta. Por lo tanto si la condición del if no se cumple y no queremos realizar una
                    acción al no cumplirse la condición, podemos usar solamente la sentencia if.
                </p>
                <h4>
                    Sintaxis
                </h4>
                <pre>
                    <code class='java'>
                        if (condición) {
                            // bloque de código a ejecutarse si la condición es verdadera
                        } else {
                            // bloque de código a ejecutarse si la condición es falsa
                        }
                    </code>
                </pre>
                <h4>
                    Ejemplo
                </h4>
                <pre>
                    <code class='java'>
                        if (nota_Final_POO>= 6) {
                            System.out.println("La pase! :D");
                        } else {
                            System.out.println(" :( ");
                        }
                    </code>
                </pre>
            </article>
            <article>
                <h3>
                    Operedor Ternario (IF de una linea);
                </h3>
                <p>
                    Otra forma de sintaxis para el uso del if-else, y resumirlo en pocas líneas de código, además al
                    igual que en el if-else podemos anidar sentencias condicionales.
                </p>
                <h4>
                    Sintaxis
                </h4>
                <pre>
                    <code class='java'>
                        (condición)?expresionVerdadera:expresionFalsa;
                        /*anidamiento de operador ternario*/
                        (condicion1) ? (ExpresionVerdadera: condicion2) ? ExpresionVerdadera:ExpresionFalsa;
                    </code>
                </pre>
                <h4>
                    Ejemplo
                </h4>
                <pre>
                    <code class='java'>
                        Calendar cal = Calendar.getInstance();
                        int hora= cal.get(Calendar.HOUR_OF_DAY);
                        String resultado = (hora < 7) ? "puedo seguir durmiendo" : "Es hora de ir a la universidad";
                        System.out.println(resultado);
                    </code>
                </pre>
            </article>
            <article>
                <h3>
                    IF-ELSE Anidados
                </h3>
                <p>
                    Podemos volver a usar sentencias condicionales if luego de un else, es lo que se conoce como if-else
                    anidados, ya que a veces se presenta el caso que necesitamos evaluar más condiciones o expresiones
                    por si la expresión o condición inicial no se ha cumplido y a partir de ello ejecutar una secuencia
                    de instrucciones.
                </p>
                <h4>
                    Sintaxis
                </h4>
                <pre>
                    <code class="java">
                            if (condición) {
                                // bloque de código a ejecutarse si la condición es verdadera
                            } else {
                                /*Inicio de anidamiento*/
                                if (condición) {
                                    // bloque de código a ejecutarse si la condición es verdadera
                                }
                                else {
                                    if (condicion){
                                        // Bloque de código
                                    } else {
                                        /* Podríamos continuar el anidamiento más veces*/
                                    }
                                }
                            }

                    </code>
                </pre>
                <h4>
                    Ejemplo
                </h4>
                <pre>
                    <code class="java">
                            int valor=5
                            //tomando en cuenta números enteros positivos
                            if (valor>= 0 && valor<=10) {
                                System.out.println("El valor esta en el rango de 0 a 10");
                            } else {
                                if (valor>10 && valor<=15) {
                                    System.out.println("El valor está en el rango de 11 a 15");
                                } else{
                                    System.out.println("El valor es mayor a 15");
                                }
                            }

                    </code>
                </pre>
            </article>
            <article>
                <h3>
                    Sentencia SWITCH
                </h3>
                <p>
                    Ejecuta un bloque de instrucciones dependiendo del valor de la expresión evaluada
                </p>
                <h4>
                    Sintaxis
                </h4>
                <pre>
                    <code class="java">
                            switch(expresión) {
                                case a:
                                // bloque de código
                                    break;
                                case b:
                                // bloque de código
                                    break;
                                default:
                                // bloque de código
                            }
                    </code>
                </pre>
                <h4>
                    Ejemplo
                </h4>
                <pre>
                    <code class="java">
                            int day = 4; switch (day) {
                                case 1:
                                System.out.println("Lunes");
                                    break;
                                case 2:
                                    System.out.println("Martes");
                                    break;
                                case 3:
                                    System.out.println("Miercoles");
                                    break;
                                case 4:
                                    System.out.println("Jueves");
                                    break;
                                case 5:
                                    System.out.println("Viernes");
                                    break;
                                case 6:
                                    System.out.println("Sabado");
                                    break;
                                case 7:
                                    System.out.println("Domingo");
                                    break;
                                default:
                                    System.out.println("el valor no corresponde al rango de días de la semana");
                            }
                    </code>
                </pre>
            </article>
        </section>
        <section id="bucles">
            <h2>
                Sentencias iterativas
            </h2>
            <p>
                Dentro de la programación, los bucles juegan un papel fundamental para la resolución de problemas en
                donde necesitamos realizar un número determinado de veces una tarea o por lo menos cuantas veces sea
                necesario. Los bucles también son conocidos como ciclos y son estructuras de control que permiten
                modificar el flujo de ejecución de las instrucciones de un programa por medio de iteraciones. Los bucles
                se basan sobre este concepto:
            </p>
            <figure>
                <img src='../assets/images/template/flujo.png' />
            </figure>
            <p>
                Existen diferentes tipos de ciclos y cada uno de ellos tiene su manera de ser implementado dependiendo
                del contexto del problema planteado. En Java encontramos los siguientes: <b>ciclo For</b>, <b>ciclo
                    While</b> y <b>ciclo Do-While</b>.
            </p>
            <article>
                <h3>
                    Ciclo FOR
                </h3>
                <p>
                    El objetivo de este ciclo es realizar un número determinado de veces una tarea. Dentro de la
                    estructura del ciclo for se define una variable de control que en la mayoría de casos actúa como
                    acumulador, este se encarga de contabilizar el número de veces que se ejecutará una instrucción.
                    Posteriormente se establece una condición de paro en donde nuestra variable de control que actúa
                    como acumulador debe ir implicada ya que es donde establecemos la condición de paro respecto al
                    número de veces que deseamos ejecutar una instrucción. Por último, tenemos que hacer una operación
                    matemática con nuestro acumulador para poder contabilizar el número de veces que se ejecutará la
                    instrucción.
                </p>
                <h4>
                    Sintaxis
                </h4>
                <pre>
                    <code class='java'>
                        for([acomulador];[condition];[operación]){
                            //Bloque de codigo
                        }
                    </code>
                </pre>
                <h4>
                    Ejemplo
                </h4>
                <pre>
                    <code class='java'>
                        for(int i=0;i < 10; i++){
                            System.out.println(i+" x 5 =" + (5*i))
                        }
                    </code>
                </pre>
            </article>
            <article>
                <h3>
                    Ciclo WHILE
                </h3>
                <p>
                    Este ciclo es basado en los resultados de una expresión lógica o condicional. El propósito es
                    repetir un bloque de código mientras una condición se mantenga verdadera.
                </p>
                <h4>Sintaxis</h4>
                <pre>
                    <code class="java">
                        while([condition]){
                            //Code
                        }
                    </code>
                </pre>
                <h4>
                    Ejemplo
                </h4>
                <pre>
                    <code class="java">
                        while(true){
                            //Bucle infinito
                        }
                    </code>
                </pre>
            </article>
            <article>
                <h3>
                    Cliclo DO-WHILE
                </h3>
                <p>
                    Al igual que el ciclo while, este bucle se basa en la operación de una expresión lógica. El Do-while
                    se diferencia en la manera en la que ejecuta el flujo de datos, ya que primero ejecuta el bloque de
                    instrucciones y posteriormente hace la operación lógica de comparación. Con lo cual se garantiza que
                    se ejecute siempre por lo menos una vez
                </p>
                <h4>
                    Sintaxis
                </h4>
                <pre>
                    <code class="java">
                        do{
                            //code
                        }while([condition])
                    </code>
                </pre>
            </article>
        </section>
        <section id="lists">
            <h2>
                Estructura de datos
            </h2>
            <p>
                Nos proveen una forma de administrar la información, de tal forma que se pueda manipular, realizar
                operaciones de busqueda e insertar datos de manera eficiente.
                Ejemplos de estructuras de datos son las siguientes:
                <ul>
                    <li>Arrays (Arreglos)</li>
                    <li>Lists (Listas enlazadas)</li>
                    <li>Collections (Colecciones)</li>
                </ul>
            </p>
            <pre> <h3>Arrays (Arreglos)</h3></pre>
            <p>
                Los arreglos son una estructura de datos que, una vez se inicializa con un tamaño específico, ya no
                puede cambiar. Importante destacar que solo admite almacenar datos de un mismo tipo, una vez declarada.
                La forma en la que se declara un arreglo es la siguiente:
                <pre style="text-align:center; font-size: 18px;">tipo_de_dato[] arreglo;</pre>
                Así se declara un arreglo, pero es necesario especificar un tamaño para poder comenzar a usarlo. Para
                ello se hace lo siguiente:
                <pre style="text-align:center; font-size: 18px;">arreglo = new tipo_de_dato[tamaño_de_arreglo];</pre>
                Donde tipo_de_dato puede ser: int, float, double, boolean, cualquier instancia de objeto, etc.

                El indice en el que comienza a contar, como en la mayoría de los lenguajes de programación, es cero. Si
                se recorre el arreglo sin haber llenado sus posiciones con un valor; el valor por defecto es cero para
                cada posición.
                Ejemplo:
                <pre>
                <code class="java">
  /*
   * To change this license header, choose License Headers in Project Properties.
   * To change this template file, choose Tools | Templates
   * and open the template in the editor.
   */
  package arreglolistas;

  import java.util.ArrayList;
  import java.util.List;
  import java.util.Scanner;


  public class ArregloListas {

      /**
       * @param args the command line arguments
       */
      public static void main(String[] args) {
          Scanner entrada = new Scanner(System.in);
          int[] arreglo = new int[10];
          boolean flag = true;


          for (int i = 0; i < arreglo.length; i++) {
              System.out.print("Ingrese un numero al arreglo: ");
              arreglo[i] = entrada.nextInt(); entrada.nextLine();
          }

          do{
              System.out.println("***¿Que desea hacer?***");
              System.out.println("1-Llenar arreglo\n2-Mostrar arreglo\n3-Encontrar mayor\n4-Encontrar menor\n5-Encontrar promedio\n6-Salir");
              int decision = entrada.nextInt(); entrada.nextLine();

              switch(decision){
                  case 1:
                      llenarArreglo(arreglo, entrada);
                      mostrarArreglo(arreglo);
                      break;
                  case 2:
                      mostrarArreglo(arreglo);
                      break;
                  case 3:
                      mostrarArreglo(arreglo);
                      System.out.println("El numero mayor es: " + encontrarMayor(arreglo));
                      break;
                  case 4:
                      mostrarArreglo(arreglo);
                      System.out.println("El numero mayor es: " + encontrarMenor(arreglo));
                      break;
                  case 5:
                      mostrarArreglo(arreglo);
                      System.out.println("El numero mayor es: " + encontrarPromedio(arreglo));
                      break;
                  case 6:
                      flag = false;
                      break;
              }

          }while(flag);


      }


      public static void llenarArreglo(int[] arreglo, Scanner entrada){
          for (int i = 0; i < arreglo.length; i++) {
              System.out.println("Ingrese valor:");
              arreglo[i] = entrada.nextInt();
          }
      }

      public static void mostrarArreglo(int[] arreglo){
          for (int i = 0; i < arreglo.length; i++) {
              System.out.print("[" + arreglo[i] + "]");
          }
          System.out.println();
      }

      public static int encontrarMayor(int[] arreglo){

             int mayor = arreglo[0];

          for (int i = 0; i < arreglo.length; i++) {

              if(arreglo[i] > mayor){
                  mayor = arreglo[i];
              }
          }
          return mayor;
      }


      public static int encontrarMenor(int[] arreglo){

          int menor = arreglo[0];

          for (int i = 0; i < arreglo.length; i++) {

              if(arreglo[i] < menor){
                  menor = arreglo[i];
              }
          }
          return menor;
      }

      public static double encontrarPromedio(int[] arreglo){

          double suma = 0;

          for (int i = 0; i < arreglo.length; i++) {
              suma += arreglo[i];
          }
          return suma / arreglo.length;
      }


  }


                </code>
              </pre>


            </p>

            <pre> <h3>Collections (ArrayList)</h3></pre>

            <p>
                Es una colección de elementos. Lo importante del termino ‘colección’ es que se caracterizan por ser
                dinámicos, a diferencia de los arreglos, los cuales necesitan que se especifique el tamaño sobre el que
                se trabajará. De igual forma, una característica importante es que los elementos que se almacenan en una
                colección pueden ser de cualquier tipo de dato, ya que los valores que se guardan se consideran
                elementos de tipo ‘object’, lo que significa que pueden ser: Integer, Float, String,Boolean, una
                instancia de clase, etc.
                Para utilizarlo es necesario declararlo de la siguiente manera:
                <pre style="text-align:center; font-size: 18px;">ArrayList lista = new ArrayList<>();</pre>
                De esta manera se tiene un arreglo <strong>dinámico</strong> de objetos (pueden ser de cualquier tipo.).
                Sin embargo a veces se quiere especificar el tipo de dato que aceptará únicamente. Para ello se escribe
                de la siguiente manera:
                <pre
                    style="text-align:center; font-size: 18px;">ArrayList&lt;tipo_de_dato&gt; lista = new ArrayList&lt;tipo_de_dato&gt;();</pre>
                Estas listas tiene funciones asociadas, por el momento diremos que son métodos de la lista. Dentro de
                estas, encontramos las siguientes:
                <ul>
                    <li><strong>add(Object);</strong> Para añadir elementos a la lista. Se ingresan en secuencia, se le
                        asigna un indice a cada elemento, y dentro de las listas pueden existir valores repetidos.</li>
                    <li><strong>get(int);</strong> Para obetener elementos de la lista respecto a indice. Comienza con
                        indice 0</li>
                    <li><strong>size();</strong> Retorna el tamaño del ArrayList</li>
                    <li><strong>contains(Object);</strong> Para buscar elementos dentro de la lista. Si lo encuentra
                        regresa <span style="color:#1FBED6;">true</span>, de otra forma regresa <span
                            style="color:#1FBED6;">false</span></li>
                    <li><strong>remove(Object);</strong> Para eliminar un elemento dentro de la lista. Si lo encuentra
                        regresa <span style="color:#1FBED6;">true</span>, de otra forma regresa <span
                            style="color:#1FBED6;">false</span></li>
                </ul>

                Para utilizar estos métodos se debe tomar la lista que se declaro más arriba (en la que se acepta
                cualquier tipo de objeto) y considerar la siguiente notación:
                <pre style="text-align:center; font-size: 18px;">
                  <code class="java">
  lista.add("Este es un texto");

  lista.add(2);

  lista.add(true);
                  </code>
                </pre>

                Ejemplo:

                <pre>
                  <code class="java">
  /*
   * To change this license header, choose License Headers in Project Properties.
   * To change this template file, choose Tools | Templates
   * and open the template in the editor.
   */
  package arreglolistas;

  import java.util.ArrayList;
  import java.util.List;
  import java.util.Scanner;


  public class ArregloListas {

      /**
       * @param args the command line arguments
       */
      public static void main(String[] args) {
           Scanner entrada = new Scanner(System.in);
          ArrayList lista  = new ArrayList();

          boolean flag = true;


          lista.add(2);
          lista.add(2);


          do{
              System.out.println("Elementos en la lista:");

              for (int i = 0; i < lista.size(); i++) {
                  System.out.println("Posicion #" + (i+1) + " " + lista.get(i));
              }

              System.out.println("***¿Que desea hacer?***");
              System.out.print("1-Agregar a la lista\n2-Verificar si esta en la lista \n3-Eliminar de la lista\n4-Salir\n");


              int decision = entrada.nextInt();
              entrada.nextLine();

              switch(decision){
                  case 1:

                      System.out.println("***Ingrese un elemento***");

                      lista.add(entrada.nextLine());


                      break;

                  case 2:
                      System.out.println("***¿Qué elemento desea buscar?***");

                      String elemento = entrada.nextLine();

                      if(elemento.contains(elemento)){
                          System.out.println(elemento + " se encuentra en la lista");
                      }else{
                          System.out.println(elemento + " no está en la lista");
                      }

                      break;


                  case 3:

                      System.out.println("***¿Qué elemento desea eliminar?***");

                      String elementoAEliminar = entrada.nextLine();

                      if(lista.remove(elementoAEliminar)){
                          System.out.println(elementoAEliminar + " se eliminó");
                      }else{
                          System.out.println(elementoAEliminar + " no se pudo eliminar");
                      }

                      break;

                  case 4:
                      flag = false;
                      break;
              }

          }while(flag);



      }


  }


                  </code>
                </pre>
            </p>
        </section>
        <section id="functions">
            <h2>
                Funciones
            </h2>
            <p>
                Se pueden categorizar funciones el conjunto de lineas de instrucciones, encapsulados en un bloque,
                usualmente reciben parámetros, cuyos valores se utilizan para efectuar operaciones y adicionalmente
                retornan un valor, en caso de no retornar un valor, no se categorizan como una función. En java las
                funciones usan el modificador <em>static</em>.
            </p>
            <h4>
                Sintaxis
            </h4>
            <pre>
                <code class='java'>
                    public static [tipo_dato_a_retornar|void] [nombre_función] ([tipo_dato][parametro1],[tipo_dato][parametro2]...){
                        //Bloque de código aquí
                    }
                </code>
            </pre>
            <h4>
                Ejemplo
            </h4>
            <pre>
                <code class="java">
                    public static void main(){
                        int[] numbers = {1,2,3,4};
                        int c = sumaEnteros(numbers); //<- se obitene el resultado en la variable c
                    }
                    public static int sumaEnteros(int[] a){
                        int b = 0;
                        for(int i=0 ; i < a.length ; i++){
                            b = b + a[i] ;
                        }
                        return b;
                    }
                </code>
            </pre>

        </section>
        <section id="exercises">
            <h2>
                Ejercicio
            </h2>
            <ol>
                <li>
                    Realizar una función que dado un arreglo de numeros aleatorios, sumar el numero de la primera posición, con el de la posición final y
                    mostrar en consola, luego repetir estos pasos con las siguientes posiciones, si el arreglo es impar la posicion n/2 se sumará con sí mismo.
                    <ul>
                        Se debe realizar una función que genere el arreglo dado una logitud y otra que realice las sumas.
                        Se deben utilizar arreglos estáticos.
                    </ul>
                </li>
                <li>
                    Juego de ahorcado: Se le pide crear el juego del ahorcado, el cual tendrá 3 palabras diferentes. Ingrese las palabras en un arreglo de Strings de longitud 3. Utilice una función para generar números aleatorios entre 0-2, de tal forma que se seleccione al azar una palabra del arreglo. Cree un menú que tenga dos opciones 1-jugar 2-salir. Si selecciona jugar, mandar a llamar una función que tenga la lógica para jugar ahorcado. Los String en Java también se consideran arreglos, por lo que se pueden iterar de la siguiente manera:
                    <pre>
                      <code class="java">
                        String texto = "programacion";

                        for(int i=0; i < texto.length(); i++){
                          System.out.println(texto.charAt(i)); // charAt(indice); se ocupa para obtener un caracter
                          //Mostrará 'p' en el caso que texto.charAt(0);
                        }
                      </code>
                   </pre>

                    Si la palabra es “elemento”, La salida por cada intento debe ser siguiendo esta lógica:
                    <pre>
                                              Intentos: 0
                                              [_][_][_][_][_][_][_][_]
                                              Introduzca una letra: f

                                              Intentos: 1
                                              [_][_][_][_][_][_][_][_]
                                              Introduzca una letra: e

                                              Intentos: 2
                                              [e][_][e][_][e][_][_][_]
                                              Introduzca una letra: m

                                              Intentos: 3
                                              [e][_][e][m][e][_][_][_]

                                                        .
                                                        .
                                                        .
                    </pre>
                    El número máximo de intentos debe ser 10. Mostrar mensaje si se gana y también si se pierda. Se gana si el número de intentos es menor al máximo.

                </li>
            </ol>

        </section>
    </article>
    <!-- Footer Implementation -->
    <footer>
        <article>
            <p><em>
                    “Siempre parece imposible hasta que se hace”
                </em></p>

            <p id="author">
                Nelson Mandela.
            </p>
        </article>
    </footer>

    <!-- Home Button -->
    <span id="HomeBtn"><i class="fas fa-chevron-up"></i></span>
</body>

<!-- JS scripts area -->
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../assets/js/javaScript.js"></script>
<script src="../assets/js/highlight.pack.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    sideMenuControl();
    homeBtnControl();
</script>

</html>
