<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Stylesheets references -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/highlight_styles/androidstudio.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="icon" href="../assets/images/icons/android.png">

    <title>Instalación Visual Studio IDE</title>
</head>

<body id="id_body">

    <!-- Eductional basic information -->
    <p class="subject">
        Universidad Centroamericana "José Simeón Cañas".<br>
        Programación orientada a objetos.<br>
        Ciclo 01/19.
    </p>

    <!-- Front image -->
    <header id="front-img" style="background-image: url('../assets/images/template/cover.jpg');">
        <div class="blackManta">
            <!-- Float menu implementation -->
            <div class="float-menu">
                <div class="menu-content">
                    <i class="fas fa-bars"></i>
                </div>
                <nav class="menu-side">
                    <div></div>
                    <ul>
                        <li><a href="#introduction">Introdución</a><i class="fas fa-ellipsis-v"></i></li>
                        <li><a href="#down-vs">Decargar Visual Studio</a><i class="fas fa-download"></i></li>
                        <li><a href="#inst-vs">Instalar Visual Studio</a><i class="fas fa-download"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="main-front">
                <h1>Instalación Visual Studio.</h1>
                <h3>Domingo, 10 de Marzo de 2019.</h3>
                <div class="grid-div two-columns frontList">
                    <!-- Two-columns item -->
                    <div class="article-body">
                        <h4>Temario:</h4>
                        <ul>
                            <li>
                                Introdución
                            </li>
                            <li>
                                Decargar Visual Studio
                            </li>
                            <li>
                                Instalar Visual Studio
                            </li>
                        </ul>
                    </div>
                    <div class="article-body">

                    </div>
                </div>
                <i class="fas fa-chevron-down" id="down-button"></i>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <article class="content">
        <!-- Main title -->
        <header class="title-content" id="title-content">
            <div id="brand">
                <h1>Instalación Visual Studio</h1>
            </div>
        </header>

        <!-- Sections method -->
        <section id="introduction">
            <!-- Sections Titles -->
            <h2>
                Introdución.
            </h2>
            <!-- Single paragraphs -->
            <p>
                El siguiente documento tiene como principal objetivo, servir de guía al estudiantado para facilitarle la
                instalación del software Visual Studio IDE, que se recomienda utilizar a lo largo del curso Programación
                Orientada a Objetos, ciclo 01 2019.
            </p>
        </section>
        <section id='down-vs'>
            <h2>
                Descargar Visual Studio
            </h2>
            <p>
                Para iniciar se debe abrir el navegador web de preferencia, estando dentro, copiar y pegar la siguiente
                dirección <a href="https://visualstudio.microsoft.com/es/thank-you-downloading-visual-studio/?sku=Community&rel=15">https://visualstudio.microsoft.com/es/thank-you-downloading-visual-studio/?sku=Community&rel=15</a>, puedes
                acceder a la pagina presionando la tecla Ctrl +
                clic en el vínculo y se abrirá automáticamente en el navegador por defecto, al finalizar este proceso se
                mostrara la siguiente pagina web:
            </p>
            <figure>
                <img src="../assets/images/screens/1.PNG" alt="Pagina de descarga de NetBeans 8.2" />
            </figure>
            <p>
                A continuación se debe iniciar automáticamente una descarga que contiene el instalador de Visual Studio, si no ocurre automaticamente, hacer clic en el link "Haga clic aquí para volver a intenarlo."
            </p>
        </section>
        <section id='inst-vs'>
            <h2>
                Instalar Visual Studio
            </h2>
            <p>
                Para iniciar la instalación de Visual Studio, se debe abrir el instalador previamente descargado, se mostrara una ventana en la cual se pueden consultar los terminos y condiciones del software, para iniciar la instalación hacer clic en "continue"
            </p>
            <figure>
                <img src="../assets/images/screens/2.PNG" />
            </figure>
            <p>
                Se iniciará un proceso de descarga total del software seguido de su instalación.
            </p>
            <p>
                Al finalizar ambos procesos, seleccionar el ".NET desktop development" y hacer clic en "install", seguidamente de esta acción se iniciara la descarga del componente previamente seleccionado y al finalizar la descarga, se iniciara la instalación
            </p>
            <figure>
                <img src="../assets/images/screens/3.PNG" />
            </figure>
            <p>
                Una vez realizada esta acción, se iniciara el proceso de descarga e instalación, al finalizar ambos procesos la instalación se habra realizado con éxito
            </p>
        </section>
    </article>
    <!-- Footer Implementation -->
    <footer>
        <article>
            <p><em>
                    “Siempre parece imposible hasta que se hace”
                </em></p>

            <p id="author">
                Nelson Mandela.
            </p>
        </article>
    </footer>

    <!-- Home Button -->
    <span id="HomeBtn"><i class="fas fa-chevron-up"></i></span>
</body>

<!-- JS scripts area -->
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../assets/js/javaScript.js"></script>
<script src="../assets/js/highlight.pack.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    sideMenuControl();
    homeBtnControl();
</script>

</html>